.App {
  text-align: center;
}

:root {
  --primary: #33879f;
  --secondary: #0d67b5;
}

@font-face {
  font-family: Poppins;
  src: url(./Assets/fonts/Poppins-Regular.ttf);
}

body,
html {
  font-family: "Poppins" !important;
}
